/* You can add global styles to this file, and also import other style files */
body {
  margin: 30px;
}

h1,
h2 {
  margin: 10px;
}

h3,
h4 {
  margin: 5px;
}

table {
  border-collapse: collapse;
  width: 40%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.transparent-img-bg {
  margin-top: 10px;
  border-radius: 4px;
  width: 128px;
  height: 128px;
  background-color: #34474f;
}
